
.fondo_1{
  background:#33415c;  
  background-image: url(/src/user/img/bicycle-frames5.png);
  background-size:cover;
  margin-top: -1%;
}

.text-center1{
  vertical-align: auto;
  text-align: center;
  font-family: "Bitter", "serif";
  color: #e5e5e5;
}


.container_autenticar{
    width: 40%;
    height: 350px;
    margin:auto;
}

.container_buttons{
  text-align: center;
  width: 50%;
  height: 90px;
  margin: 0 auto;

}
.fondo2{
  background:#33415c; 
  background-image: url(/src/user/img/bicycle-frames5.png);
  background-size: cover;
}


.container_tabla{
  width: 70%;
  height: auto;
  margin: 0 auto;
}


  
